<!doctype html>
<html><!-- InstanceBegin template="/Templates/Plantilla_Base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Plantilla</title>
<!-- InstanceEndEditable -->
<style type="text/css">
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #CE303F;
}
a:hover {
    text-decoration: none;
    color: #112517;
}
a:active {
    text-decoration: none;
    color: #CE303F;
}
</style>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="90%" border="1" align="center">
  <tbody>
    <tr>
      <td colspan="5" bgcolor="#E0BD99" align="center"><img src="../../Recursos/Recurso%203.png" width="579" height="94" alt=""/></td>
    </tr>
    <tr>
      <td bgcolor="#D46684"><a href="Javascript:history.go(-1)"><img src="../../Recursos/flecha%201.png" width="43" height="62" alt=""></a></td>
      <td bgcolor="#134D5A" style="color: #FFFFFF; font-size: 36px; font-family: Ringus;" align="center"><a href="../../PLANTAS.html">PLANTAS</a></td>
      <td bgcolor="#D46684" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../INICIO.html">INICIO</a></td>
      <td bgcolor="#134D5A" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../CUIDADOS.html">CUIDADOS</a></td>
      <td bgcolor="#D46684" align="right"><a href="Javascript:history.go(1)"><img src="../../Recursos/flechas%202.png" width="43" height="62" alt=""></a></td>
    </tr>
	  <!-- InstanceBeginEditable name="EditRegion1" -->
    <tr>
      <td colspan="5" bgcolor="#EAEBCF"><p align="center" style="font-family: Comfortaa; font-weight: bold; font-size: 20px;">Macetas con formas de criaturas marinas</p><table width="90%" border="1" align="center">
        <tbody style="font-family: Comfortaa; font-size: 12px;">
          <tr>
            <td><p><span style="font-weight: bold">Maceta Pulpo:</span> Cuerpo de cerámica con tentáculos enredados: Sus "patas" actúan como soportes colgantes. Perfecta para suculentas pequeñas como la Cadena de Bananas.</p>
              <p><span style="font-weight: bold">Maceta Medusa:</span> Diseño colgante con tiras de tela translúcida: Simula los tentáculos flotantes. Ideal para plantas con flores aireadas como la Columnea.</p>
              <p><span style="font-weight: bold">Maceta Caparazón de Caracol Marino:</span> Espiral natural o de resina. Crea un efecto cascada con plantas de hojas largas (ej: Potus). Usa materiales resistentes a la intemperie si está en exterior.</p>
              <p><span style="font-weight: bold">Maceta Coral:</span> Estructura porosa y colorida imita los arrecifes. Ideal para Rhipsalis (cactus colgante), ya que evoca su hábitat tropical.</p></td>
            <td><img src="../../Recursos/Recurso 17.png" width="364" height="312" alt=""/></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
<!-- InstanceEndEditable -->
	  <tr>
      <td colspan="5" align="center" bgcolor="#E0BD99" style="font-family: Parisish" >Pagina creada por Katerine Eugenio</td>
    </tr>
  </tbody>
</table>

</body>
<!-- InstanceEnd --></html>
