<!doctype html>
<html><!-- InstanceBegin template="/Templates/Plantilla_Base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>MACETAS 1</title>
<!-- InstanceEndEditable -->
<style type="text/css">
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #CE303F;
}
a:hover {
    text-decoration: none;
    color: #112517;
}
a:active {
    text-decoration: none;
    color: #CE303F;
}
</style>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="90%" border="1" align="center">
  <tbody>
    <tr>
      <td colspan="5" bgcolor="#E0BD99" align="center"><img src="../../Recursos/Recurso%203.png" width="579" height="94" alt=""/></td>
    </tr>
    <tr>
      <td bgcolor="#D46684"><a href="Javascript:history.go(-1)"><img src="../../Recursos/flecha%201.png" width="43" height="62" alt=""></a></td>
      <td bgcolor="#134D5A" style="color: #FFFFFF; font-size: 36px; font-family: Ringus;" align="center"><a href="../../PlANTAS.html">PLANTAS</a></td>
      <td bgcolor="#D46684" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../INICIO.html">INICIO</a></td>
      <td bgcolor="#134D5A" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../CUIDADOS.html">CUIDADOS</a></td>
      <td bgcolor="#D46684" align="right"><a href="Javascript:history.go(1)"><img src="../../Recursos/flechas%202.png" width="43" height="62" alt=""></a></td>
    </tr>
	  <!-- InstanceBeginEditable name="EditRegion1" -->
    <tr>
      <td colspan="5" bgcolor="#EAEBCF"><p align="center" style="font-size: 20px; font-weight: bold; font-family: Comfortaa;">¿Qué maceta elijo?</p>
        <table width="90%" border="1" align="center">
        <tbody style="font-family: Comfortaa; font-size: 16px;">
          <tr>
            <td><p><span style="font-weight: bold">Materiales recomendados: </span>Barro (transpirable), plástico (ligero), fibras naturales (decorativas).</p>
              <p><span style="font-weight: bold">Tamaño:</span> Que permita el crecimiento de raíces pero no acumule agua en exceso.;</p>
              <p><span style="font-weight: bold">Diseño:</span> Macetas con agujeros de drenaje, colgantes con soportes seguros.</p>
              <p><span style="font-weight: bold">Bonus:</span> Ideas DIY (macetas recicladas con cuerdas, maceteros de ganchillo).</p></td>
            <td><img src="../../Recursos/Recurso 16.png" width="364" height="312" alt=""/></td>
          </tr>
        </tbody>
      </table><p style="font-family: Parisish; font-weight: bold;" align="center"><a href="MACETAS_2.html">SIGUENTE</a></p></td>
    </tr>
<!-- InstanceEndEditable -->
	  <tr>
      <td colspan="5" align="center" bgcolor="#E0BD99" style="font-family: Parisish" >Pagina creada por Katerine Eugenio</td>
    </tr>
  </tbody>
</table>

</body>
<!-- InstanceEnd --></html>
