<!doctype html>
<html><!-- InstanceBegin template="/Templates/Plantilla_Base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>T_Dificiles</title>
<!-- InstanceEndEditable -->
<style type="text/css">
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #CE303F;
}
a:hover {
    text-decoration: none;
    color: #112517;
}
a:active {
    text-decoration: none;
    color: #CE303F;
}
</style>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="90%" border="1" align="center">
  <tbody>
    <tr>
      <td colspan="5" bgcolor="#E0BD99" align="center"><img src="../../Recursos/Recurso%203.png" width="579" height="94" alt=""/></td>
    </tr>
    <tr>
      <td bgcolor="#D46684"><a href="Javascript:history.go(-1)"><img src="../../Recursos/flecha%201.png" width="43" height="62" alt=""></a></td>
      <td bgcolor="#134D5A" style="color: #FFFFFF; font-size: 36px; font-family: Ringus;" align="center"><a href="../../PlANTAS.html">PLANTAS</a></td>
      <td bgcolor="#D46684" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../INICIO.html">INICIO</a></td>
      <td bgcolor="#134D5A" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../CUIDADOS.html">CUIDADOS</a></td>
      <td bgcolor="#D46684" align="right"><a href="Javascript:history.go(1)"><img src="../../Recursos/flechas%202.png" width="43" height="62" alt=""></a></td>
    </tr>
	  <!-- InstanceBeginEditable name="EditRegion1" -->
    <tr>
      <td colspan="5" bgcolor="#EAEBCF" align="center"><p style="font-weight: bold; font-size: 20px; font-family: Comfortaa;">4 joyas exóticas para amantes de lo original</p><table width="90%" align="center">
        <tbody style="font-family: Comfortaa; font-size: 12px; font-weight: normal;">
          <tr>
            <td><img src="../../Recursos/Recurso 11.png" width="123" height="144" alt=""/></td>
            <td align="center"><p>Planta de Cadena de Bananas (Senecio radicans)</p>
            <p>Reto suculento: Necesita luz intensa y riego preciso (poco en invierno). Sensible al exceso de agua, pero única en textura.</p></td>
			<td><img src="../../Recursos/Recurso 12.png" width="123" height="144" alt=""/></td>
            <td align="center"><p>Hiedra Sueca (Plectranthus verticillatus)</p>
            <p>Crecimiento explosivo: Demanda podas frecuentes y abono regular. Sus hojas brillantes atraen plagas si no se vigilan.</p></td>
          </tr>
			<tr>
			<td><img src="../../Recursos/Recurso 13.png" width="123" height="144" alt=""/></td>
		    <td align="center"><p>Columnea (Planta de oro)</p>
		      <p>Exigente y floral: Requiere alta humedad, luz filtrada y suelo bien drenado. Sus flores doradas son una recompensa para pacientes.</p></td>
			<td><img src="../../Recursos/Recurso 14.png" width="123" height="144" alt=""/></td>
		    <td align="center"><p>Rhipsalis (Cactus colgante)</p>
		      <p>Equilibrio tropical: Aunque sin espinas, necesita luz indirecta y riegos calculados. Florece solo con cuidados consistentes y clima estable.</p></td>
			</tr>
        </tbody>
      </table></td>
    </tr>
<!-- InstanceEndEditable -->
	  <tr>
      <td colspan="5" align="center" bgcolor="#E0BD99" style="font-family: Parisish" >Pagina creada por Katerine Eugenio</td>
    </tr>
  </tbody>
</table>

</body>
<!-- InstanceEnd --></html>
