<!doctype html>
<html><!-- InstanceBegin template="/Templates/Plantilla_Base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>T_Facil</title>
<!-- InstanceEndEditable -->
<style type="text/css">
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #CE303F;
}
a:hover {
    text-decoration: none;
    color: #112517;
}
a:active {
    text-decoration: none;
    color: #CE303F;
}
</style>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="90%" border="1" align="center">
  <tbody>
    <tr>
      <td colspan="5" bgcolor="#E0BD99" align="center"><img src="../../Recursos/Recurso%203.png" width="579" height="94" alt=""/></td>
    </tr>
    <tr>
      <td bgcolor="#D46684"><a href="Javascript:history.go(-1)"><img src="../../Recursos/flecha%201.png" width="43" height="62" alt=""></a></td>
      <td bgcolor="#134D5A" style="color: #FFFFFF; font-size: 36px; font-family: Ringus;" align="center"><a href="../../PlANTAS.html">PLANTAS</a></td>
      <td bgcolor="#D46684" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../INICIO.html">INICIO</a></td>
      <td bgcolor="#134D5A" align="center" style="color: #FFFFFF; font-family: Ringus; font-size: 36px;"><a href="../../CUIDADOS.html">CUIDADOS</a></td>
      <td bgcolor="#D46684" align="right"><a href="Javascript:history.go(1)"><img src="../../Recursos/flechas%202.png" width="43" height="62" alt=""></a></td>
    </tr>
	  <!-- InstanceBeginEditable name="EditRegion1" -->
    <tr>
      <td colspan="5" bgcolor="#EAEBCF"><p align="center" style="font-weight: bold; font-size: 20px; font-family: Comfortaa;"><span style="text-align: center"></span>Las 4 plantas colgantes más populares para principiantes.</p><table width="90%" align="center">
        <tbody style="font-family: Comfortaa; font-size: 12px;">
          <tr>
            <td><img src="../../Recursos/Recurso 7.png" width="123" height="144" alt=""/></td>
            <td align="center"><p>Helecho Culantrillo (Adiantum)</p>
            <p>&nbsp;Amante de la humedad: Prospera en baños o cerca de ventanas con sombra. Requiere tierra siempre húmeda, pero sin encharcar.</p></td>
			  <td><img src="../../Recursos/Recurso 8.png" width="123" height="144" alt=""/></td>
			  <td align="center"><p>Tradescantia (Amor de hombre)</p>
		      <p>&nbsp;Color y rapidez: Sus hojas moradas crecen velozmente con luz brillante. Fácil de propagar: ¡corta un tallo y tendrás una nueva planta!</p></td>
          </tr>
			<tr>
			<td><img src="../../Recursos/Recurso 9.png" width="123" height="144" alt=""/></td>
			<td align="center"><p>Potus (Epipremnum aureum)</p>
			  <p>&nbsp;Ideal para olvidadizos: Sobrevive en poca luz y riegos espaciados. Purifica el aire y crece rápido, ¡perfecta para dar vida a cualquier rincón sin esfuerzo!</p></td>
			<td><img src="../../Recursos/Recurso 10.png" width="123" height="144" alt=""/></td>
			<td align="center"><p>Suculenta Collar de Corazones (Ceropegia woodii)&nbsp;</p>
			  <p>Delicada pero resistente: Sus hojas en forma de corazón toleran sequías. Necesita luz indirecta y riego moderado, ideal para decorar estantes altos.</p></td>
			</tr>
        </tbody>
      </table><p align="center" style="font-weight: bold; font-family: Parisish;"><a href="T_Dificil.html">SIGUENTE</a></p></td>
    </tr>
<!-- InstanceEndEditable -->
	  <tr>
      <td colspan="5" align="center" bgcolor="#E0BD99" style="font-family: Parisish" >Pagina creada por Katerine Eugenio</td>
    </tr>
  </tbody>
</table>

</body>
<!-- InstanceEnd --></html>
